{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things to do</title>
    <script src=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'todos/tailwind_output.css' %}">

    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
    <script src="{% static 'todos/utils.js' %}"></script>
    <script src="//unpkg.com/alpinejs" defer></script>

</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="flex items-center justify-between p-6 border-b mb-5">
        <a href="/" class="text-orange-500 font-bold text-3xl">YATA!</a>
        <div class="hidden lg:block">

            <nav class="gap-x-4 flex">

                <a href="#"
                    class="bg-orange-600 hover:bg-orange-700 text-gray-100 font-bold rounded-full pt-1 pb-1 pl-3 pr-3">About</a>
                <a href="#"
                    class="bg-orange-600 hover:bg-orange-700 text-gray-100 font-bold rounded-full pt-1 pb-1 pl-3 pr-3">Contact</a>
                <a href="#"
                    class="bg-orange-600 hover:bg-orange-700 text-gray-100 font-bold rounded-full pt-1 pb-1 pl-3 pr-3">Whatever</a>
            </nav>
        </div>

        <div class="block lg:hidden" x-data="{ open: false }">
            <button @click="open = ! open"
                class="bg-orange-600 hover:bg-orange-700 text-gray-100 font-bold rounded-full pt-1 pb-1 pl-3 pr-3">Menu
                🔽</button>

            <div x-show="open" class="fixed z-10 right-5 bg-white border shadow-lg rounded-lg p-2">

                <nav class="flex flex-col text-left gap-2">

                    <a href="#" class="text-gray-700 font-bold rounded-full pt-1 pb-1 pl-3 pr-3">About</a>
                    <a href="#" class="text-gray-700 font-bold rounded-full pt-1 pb-1 pl-3 pr-3">Contact</a>
                    <a href="#" class="text-gray-700 font-bold rounded-full pt-1 pb-1 pl-3 pr-3">Whatever</a>
                </nav>
            </div>
        </div>

    </div>


    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 space-y-4 pt-4">


        <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Things to do
        </h1>


        <div id="todo_items" class="space-y-2" data-testid="todo_items">
            {% for item in todo_items %}

            {% include "todos/partial_todo_item.html" %}

            {% endfor %}
        </div>

        <div class="text-center text-2xl font-bold text-transparent/30 pt-6" id="todo_items_empty">
            Nothing to see here...
        </div>


        <div class="absolute inset-x-0 bottom-2 flex justify-center">
            <div>

                <h2
                    class="text-xl font-bold leading-7 text-gray-800 sm:truncate sm:text-2xl sm:tracking-tight text-center">
                    Add Item</h2>

                <form hx-post="{% url 'action_add_new_todo' %}" hx-target="#todo_items" hx-swap="beforeend">

                    {{ form }}

                    <input type="submit" value="Add"
                        class="rounded-sm bg-orange-600 px-2 py-1 text-xs font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">
                </form>
            </div>
        </div>
    </div>


</body>

</html>